<footer class="footer">
  <small>
    <%= t(".small").html_safe %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".news"), Settings.footer.url.new %></li>
    </ul>
  </nav>
</footer>
